* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0F0D1A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow:  0 0.5px 20px #EF9149;
    
}

.navLogo {
    width: 95px;
    padding: 0.4em 2em;
}

.navList {
    padding: 0.5em 2em;
}

.navList li {
    list-style: none;
    display: inline-block;
    padding: 0.5em;
}

.navList li a {
    text-decoration: none;
    color: #EF9149;
}

.loginNav {
    border: 2px solid #EF9149;
    border-radius: 0.5em;
    padding: 0.7em;
}

.slideshow img {
    width: 100%;
    object-fit: cover;
}